<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div style="float:left;width:50%">
        <form action="/customerupdate/" method="POST">
        {% csrf_token %}
        <input type="hidden"name="uid"value={{uid}}>
        帳號{{userdata.account}}<p>
        密碼{{userdata.password}}<p>
        <input type="submit">
        </form></div>
    {% if errMsg %}
        <div style="float:left">
        {% for i in errMsg %}
        {{i}} <br>
        {% endfor %}
        
    {% endif %}</div>
</body>
</html>